body{
    background-color: coral;
}
canvas{
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#score{
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    margin-left: -450px;
}
#highscore{
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    margin-top: -15px;
    margin-left: -450px;
}
#gameover{
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    margin-top: 50px;
    display: none;
}
#nextPiece{
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 450px;
}
